<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <form action="/admin/Chuong_trinh_tour/add/them" method="post" enctype="multipart/form-data">
        <td>Tên tour:<input type="text" name="ten_tour"></td><br>
        <td>Giá:<input type="text" name="gia"></td><br>
        <td>Hình ảnh:<input type="file" name="hinh_anh"></td><br>
        <td>Nội dung:<input type="text" name="noidung"></td><br>
        <td>Địa điểm:<input type="text" name="ten_diemdl"></td><br>
        <td><input type="submit" value="Thêm"></td><br>
    </form>
</body>
</html>